.container {
  display: flex;
  flex-direction: column;
  padding: 30px 16px;
  background-color: rgb(185, 184, 184);
}

.article {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-bottom: 1px solid black;
}
span {
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  margin-bottom: 5px;
}
